<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find car_square)/config/robot_controller.yaml</parameters>
        </plugin>
</gazebo>


<gazebo>
        <plugin 
                filename="gz-sim-sensors-system"
                name="gz::sim::systems::Sensors">
                <render_engine>ogre2</render_engine>
        </plugin>
</gazebo>



<gazebo reference="lf_hub">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
</gazebo>

<gazebo reference="rf_hub">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
</gazebo>

<gazebo reference="lb_hub">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
</gazebo>

<gazebo reference="rb_hub">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
</gazebo>


</robot>